body {
    background-image: url("../../../resources/images/bg/IMG_20250822_055659.webp");              
    color: var(--white);
}

@media only screen and (min-width: 1001px) {
    .profile-content{
        background-color: var(--dark-inv);
        width: 60%;
        display: flex;
        font-size: larger;
    }
    .desc{
        width: 60%;
    }

    .skill-container{
        background-color: var(--dark-inv);
        padding: 1rem;
        width: 60%;
    }
}

@media only screen and (max-width: 1000px) {
    .profile-content{
        display: flex;
        flex-direction: column-reverse;
    }
    .profile-content .desc{
        width: 100%;
        font-size: normal;
    }
    .skill-container{
        padding: 2rem;
        width: 100%;
    }
}

.profile {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
    width: 100%;
}

.profile ul li{
    font-size: 130%;
}

.profile h1{
    font-size: 3rem;
}

.profile img{
    width: 300px;
}

.profile-content {
    padding: 1rem;
    box-sizing: border-box;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-content .desc {
    position: relative;
    list-style: none;
    padding: 2rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.profile-content .image {
    display: flex;
    position: relative;
    background-color: rgb(36, 36, 36);
    justify-content: center;
    border-radius: 50%;
    width: 15rem;
    height: 15rem;
    overflow: hidden;
}

.skill-container{
    border-radius: 12px;
    box-sizing: border-box;
}

.skill-container h2{
    position: relative;
}

.skill-container ul {
    list-style: none;
}

.skill-container li {
    opacity: 0;
    animation: fadeUp var(--ani-duration) ease forwards;
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}

.skill-container li:nth-child(1) {
    animation-delay: calc(var(--ani-duration));
}

.skill-container li:nth-child(2) {
    animation-delay: calc(var(--ani-duration) + 0.1s);
}

.skill-container li:nth-child(3) {
    animation-delay: calc(var(--ani-duration) + 0.2s);
}

.skill-container li:nth-child(4) {
    animation-delay: calc(var(--ani-duration) + 0.3s);
}

.skill-name {
    font-weight: bold;
    margin-bottom: 5px;
}

.progress-bar {
    width: 100%;
    background: var(--dark-mode);
    border-radius: 10px;
    overflow: hidden;
    height: 20px;
}

.progress {
    height: 100%;
    text-align: right;
    padding-right: 10px;
    color: white;
    font-size: 12px;
    line-height: 20px;
}

.html {
    width: 90%;
    background: #e44d26;
}

.css {
    width: 80%;
    background: #264de4;
}

.js {
    width: 30%;
    background: #f7df1e;
    color: black;
}

.react {
    width: 10%;
    background: #7d37ff;
    color: black;
}
